<!DOCTYPE html>
<html>
<head>
	<title>Página Principal</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="card__container">

			<%obras.forEach(obra=>{%>
				<div class="card">
					<img src="<%=obra.foto%>"> 
					<section>
						<h1><%=obra.name%></h1>
						<span class="description"><%=autores[obra.autId].nome%></span>
						<a class="btn" href="#">Ver Mais</a>
					</section>
				</div>
				
			<%});%>

		</div>
	</div>
</body>
</html>